
#modal {
  transition: .3s;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  background-color: rgba(16, 16, 16, 0.6);
}

#modal.active {
  z-index: 1;
  opacity: 1.0;
}
